# Second lines of code

In [1]:
#import math it will  bring the mathematical function or aggregation
import math

In [3]:
math.log(2.7)

0.9932517730102834

In [4]:
 math.exp(1)

2.718281828459045

In [7]:
#boolean values (true or false). they work in a logical way to test if a value or a condition is met or not
2>3 and 5>3

False

In [11]:
#concatenation
name= 'ajarah'
course='Data science'
place='Webfala'

'my name is'+' '+name +' '+ 'i am learning'+ ' '+ course+ ' '+ 'at'+ ' '+ place

'my name is ajarah i am learning Data science at Webfala'

In [9]:
#Replacing a value in a string
myvalue='this is good'
myvalue.replace('good','bad')

'this is bad'

In [10]:
#check the presence of a value in a list
samplelist=[1,2,3,3,6,7,8,6,7,8]
9 in samplelist

samplelist.count(6)

2

In [12]:
#Concatenate
Ajaralist=[1,2,3,4,5]
Tosin=[1,3,4,5,7,4]
Ajaralist+ Tosin

[1, 2, 3, 4, 5, 1, 3, 4, 5, 7, 4]

In [16]:
import numpy as np
#using a dictionary 
a_dictionary={'name':'Tosin',
              'course':'data Science',
              'fav':'SQL'}
print(a_dictionary)

{'name': 'Tosin', 'course': 'data Science', 'fav': 'SQL'}

In [14]:
a_dictionary['name']

'Tosin'

In [15]:
#adding a new a value to a dictionary
a_dictionary['age']=25
print (a_dictionary)

{'name': 'Tosin', 'course': 'data Science', 'fav': 'SQL', 'age': 25}

In [17]:
#duplicating a list
list=[1,2,3,4,]
list2=list.copy()
print(list2)

[1, 2, 3, 4]